# Honeycomb API key. Find one at https://ui.honeycomb.io/teams (click on "Settings")
export HONEYCOMB__APIKEY=your-api-key-goes-here

# Service name - this will be the name of the Honeycomb dataset where your data ends up
export HONEYCOMB__SERVICENAME=fib-microsvc
