// Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
// for details on configuring this project to bundle and minify static web assets.

body {
    background-color: black;
    color: rgba(0, 0, 0, 0.6);

    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
    background-color: #000000;

} 

nav ul { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav a, nav a:visited {
    display: inline-block;
    padding: 1vh 2vw;
    text-decoration: none;
    color: #999999;
    font-size: 20px;
}

nav ul li:hover {
    background-color: white;
}

nav ul li:hover a {
    color: black;
}

main {
    width: 100%;
/*     display: flex; */
    justify-content: center;
  background-color: ivory;
    
    padding-top: 3vh;
    padding-bottom: 8vh;
}

 .fibonacci-sequence {
        margin:20px;
        padding:10px;
        font-family: Monospace;
        font-size:larger;
        border: 1px black solid;
      }
