@page
@model IndexModel
@{
    ViewData["Title"] = "Fibonacci in .NET";
}
<h1>
    A sequence of numbers:
</h1>

<button id="go-button">
    Go
</button>
<div id="put-numbers-here" class="fibonacci-sequence">
    &nbsp;
</div>
<button id="stop-button">
    Stop
</button>
